# This is an example .env file.  It is placed in the root of the role project and run 
# by molecule test to export private data as environment variables. 
# 
# molecule.yml is configured to grab each env var as an ansible extra arg
# critically, the .env file is included in .gitignore by default so it's
#  a little harder to accidentally leak sensitive data into the repo
export APP_SECURE_TOKEN="my_token"
export AWS_ACCESS_KEY_ID="AKIA00000000000"
export AWS_SECRET_ACCESS_KEY="xxxx"
export AWS_DEFAULT_REGION="us-east-1"
export EC2_REGION="us-east-1"
export VPC_ID="vpc-abc123"
export SUBNET_ID="subnet-abc123"
export AMI_ID="ami-abc123"